/* PALETTE COLORI */

:root {

    --light-green: #1a9242;
    --prime-blue: #0e3d7a;
    --second-blue: #2c95b3;
    --light-grey: #d3d3d3;
    --grey: #4e4e4e;
}

/* FONTS
<uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 1000 */

.roboto-flex-title {
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "GRAD" 0,
        "XOPQ" 96,
        "XTRA" 468,
        "YOPQ" 79,
        "YTAS" 750,
        "YTDE" -203,
        "YTFI" 738,
        "YTLC" 514,
        "YTUC" 712;
}

.open-sans-text {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* Navbar */
.navbar {
    background-color: var(--prime-blue);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}

.logo {
    width: 50px;
}

.btnlocal {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: #0e3d7a;
}


/* Body */
body {
    margin-top: 70px;
}

.btn {
    background-color: var(--light-green);
    border-color: var(--light-green);
}

.home-header {
    min-height: 500px;
    overflow: hidden;
    /* Ensure the content does not overflow out of the container */
}

.home-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/public/vendita.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: fit;
    filter: blur(1px);
    /* Apply the blur filter */
    z-index: -1;
    /* Ensure the pseudo-element is behind the content */
}

/* CAROUSEL DETTAGLIO  */
.carousel-img {
    width: 100;
    height: 100;
    object-fit: contain;
    display: block;
}

.carousel-imgresize {
    height: 500px;
    object-fit: contain;
    display: block;
}

/* FOOTER */
footer {
    background-color: var(--light-grey);
}


/* Immagini multiple form */
.img-preview {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 120px;
    height: 120px;

}

/* LOADER SPIN FORM */
.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: hsl(0, 0%, 2%);
}

.loader:before,
.loader:after {
    content: '';
    display: block;
    position: absolute;
    top: -35px;
    left: -40px;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}

.loader:after {
    color: #FF3D00;
    transform: rotateY(70deg);
    animation-delay: .4s;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

@keyframes rotateccw {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes spin {

    0%,
    100% {
        box-shadow: .2em 0px 0 0px currentcolor;
    }

    12% {
        box-shadow: .2em .2em 0 0 currentcolor;
    }

    25% {
        box-shadow: 0 .2em 0 0px currentcolor;
    }

    37% {
        box-shadow: -.2em .2em 0 0 currentcolor;
    }

    50% {
        box-shadow: -.2em 0 0 0 currentcolor;
    }

    62% {
        box-shadow: -.2em -.2em 0 0 currentcolor;
    }

    75% {
        box-shadow: 0px -.2em 0 0 currentcolor;
    }

    87% {
        box-shadow: .2em -.2em 0 0 currentcolor;
    }
}