/* PALETTE COLORI */

:root {

    --light-cipria: #7ceddc;
    --prime-beige: #68c7c1;
    --light-beige: #faca78;
    --light-greeng: #f57f5b;
    --prime-sand: #dd5341;
    --second-sand: #794a3a;
}

/* FONTS */
@font-face {
    font-family: 'Market Deco';
    font-style: normal;
    font-weight: 400;
    src: local('Market Deco'), url('https://fonts.cdnfonts.com/s/4344/Market_Deco.woff') format('woff');
}
/* subtitle */
@font-face {
    font-family: 'M PLUS Code Latin';
    font-style: normal;
    font-weight: 400;
    src: local('M PLUS Code Latin'), url('https://fonts.cdnfonts.com/s/107411/MPLUSCodeLatin[wdth,wght].woff') format('woff');
}
/* paragraph */
@font-face {
    font-family: 'Safilms Crawford';
    font-style: normal;
    font-weight: 400;
    src: local('Safilms Crawford'), url('https://fonts.cdnfonts.com/s/105018/SafilmsCrawford-K7zeD.woff') format('woff');
}




/* NAVBAR */
.navbar {
    background-color: var(--second-sand);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}

/* LANGUAGGE FLAGS */
.btnlocal {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: var(--second-sand);
}

/* BODY */
body {
    margin-top: 50px;
}

.page-Bg-color {
    background-color: var(--light-beige);
}

/* LOGO TITLE-SUBTITLE */
h1{
    font-family: 'Market Deco';
    font-style: normal;
    font-weight: 400;
}
h2{
    font-family: 'M PLUS Code Latin';
    font-style: normal;
    font-weight: 400;
}

/* SEZIONE COLONNA CREA ANNUNCIO H3-P-BTN */
h3{
    font-family: 'Safilms Crawford';
    font-style: normal;
    font-weight: 400;
}

/* Sezione annuncio */
.vinileHome{
    height:650px ;
}

.backgroundVinile{
    background-color: var(--prime-sand);
    border-top: var(--light-cipria);
}
/* BTN CREA ANNUNCIUO */
.button-74 {
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-74:hover {
    background-color: #fff;
}

.button-74:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .button-74 {
        min-width: 120px;
        padding: 0 25px;
    }
}

/* CAROUSEL DETTAGLIO  */
.carousel-img {
    width: 100;
    height: 100;
    object-fit: contain;
    display: block;
}

.carousel-imgresize {
    height: 500px;
    object-fit: contain;
    display: block;
}

/* IMMAGINI MULTIPLE FORM */
.img-preview {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 120px;
    height: 120px;

}

/* LOADER SPIN FORM */
.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: hsl(0, 0%, 2%);
}

.loader:before,
.loader:after {
    content: '';
    display: block;
    position: absolute;
    top: -35px;
    left: -40px;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}

.loader:after {
    color: #FF3D00;
    transform: rotateY(70deg);
    animation-delay: .4s;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

@keyframes rotateccw {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes spin {

    0%,
    100% {
        box-shadow: .2em 0px 0 0px currentcolor;
    }

    12% {
        box-shadow: .2em .2em 0 0 currentcolor;
    }

    25% {
        box-shadow: 0 .2em 0 0px currentcolor;
    }

    37% {
        box-shadow: -.2em .2em 0 0 currentcolor;
    }

    50% {
        box-shadow: -.2em 0 0 0 currentcolor;
    }

    62% {
        box-shadow: -.2em -.2em 0 0 currentcolor;
    }

    75% {
        box-shadow: 0px -.2em 0 0 currentcolor;
    }

    87% {
        box-shadow: .2em -.2em 0 0 currentcolor;
    }
}

/* FORM CREAZIONE ANNUNCI */
.creationForm{
        background-image: url('/storage/app/public/img/form.png'); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin-top: 40px;
        margin-bottom: 40px;
    }

/* FOOTER */
footer {
    background-color: var(--prime-sand);
}

.ancor-Footer{
    text-decoration: none;
}